*{
    margin: 0;
    padding: 0;
    
    
   
}
nav{
    background-color: rgba(155, 109, 197, 0.904);
    padding: 8px;
}

ul{display: flex;
    list-style: none;
    align-items: center;
    
}

#sitename{
    font-size: 3rem;
    position: relative;
    left:8%;
    font-family: 'Tenor Sans', sans-serif;
}

.navbtn{
    
    width: 80px;
    text-align: center;
    cursor: pointer;
    padding: 1px 8px;
    font-size: 1.2rem;
    position: absolute;
    right:10%;
    border: 2px rgb(209, 199, 245) solid;
    border-radius: 11px;
    background-color: rgb(181 183 212);
}

.navbtn:hover{
    background-color: rgb(147 152 224);
}
#goback{
    display: none;
}

#parentcontainer1{
    margin : 2% 18%;
    margin-top: 8%;
    padding: 8px;

    display: flex;
    /* height: 40vh; */
    justify-content: center;
    align-items: center;
}
#parentcontainer2{
    margin :0% 18%;
    /* margin-bottom: 2%; */
    
    padding: 8px;

    display: flex;
    height: 12vh;
    
    align-items: center;
}


.same{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px rgba(146, 139, 146, 0.692) solid;
    padding: 8px 20px;
    width: 100%;
    min-height: 15vh;
    
    
}


#txtcont{
    position: absolute;
    display: flexbox;
    width: 60%;
    
    min-height: 15vh;
    

}
textarea{
    z-index: 1;
    
    /* left: 1%; */
    resize: none;
    width: 100%; 
    height: 100%;
    
    opacity: 0;
}

#lettercont{
    z-index: -1;
    width: 100%;
    min-height: 15vh;
    
}

/* #aboutcont>  */
span{
    
    font-family: 'Source Code Pro', monospace, Courier;
    font-size: 1.1rem;
    line-height: 2em;
    letter-spacing: 0.03em; 
    border: white 1px solid;
    
      
}

span > span{
    
    font-family: 'Source Code Pro', monospace, Courier;
    font-size: 1.1rem;
    line-height: 2em;
    letter-spacing: 0.03em; 
    border: white 1px solid;
}

.space{
    
    display: inline-block;
    position: relative;
    top: 6px;
    width: 10px;
    height:21px ;
    line-height: 21px;
    
   
}

.selected{
    
    
    border: 1px rgb(0, 119, 255) solid;
   
}

.wrong{
     
    background-color:  rgba(255, 0, 0, 0.308);
    border:1px solid rgb(255 176 176); ;
}

.right{
    color: rgb(0, 119, 255);
}


.utilitybtn{
    font-size: 1.05rem;
    margin: 2% 1%;
    margin-left: 5%;

    
    padding: 2px 8px;
    border: rgb(155, 192, 223) solid 2px;
    border-radius: 8px;
    background-color:rgb(155, 192, 223);
    transition: 0.1;
    outline: none;
    
}

.utilitybtn:hover{
    
    
    padding: 2px 8px;
    border: rgb(68, 133, 185) solid 2px;
    color: rgb(255, 255, 255);
    background-color:rgb(68, 133, 185);
    border-radius: 8px;
    /* transform: scale(1.05); */
    cursor: pointer;
}

    




#result{
    margin :0% 16%;
    
    padding: 8px;
    
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

#result>div{
    margin:15px 5%;
    padding: 8px 16px;
    font-weight: bold;
    border: rgb(163, 247, 208) 3px solid;
    border-radius: 15px;
    background-color: rgb(181, 243, 181);


}



#aboutus{
    display: none;
    margin : 2% 18%;
    margin-top: 8%;
    padding: 8px;

    /* display: flex; */
    /* height: 40vh; */
    justify-content: center;
    align-items: center;
    
}

#aboutcont{
    width: 100%;
    min-height: 15vh;
    
    
    
}

#display{
    display: flex;
    
    justify-content: flex-end;
    align-items: center; 
    
    padding: 8px 20px;
    width: 100%;
    min-height: 15vh;
    height: 15vh;

}

   